.flash {
  background: rgb(250, 250, 250);
  padding: 50px 0;
}

.grid-container {
  display: grid;
}

.grid-col-container {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 5fr;
  }
}

@media (min-width: 960px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid-container {
  min-width: 100px;
  min-height: 200px;
}

.center {
  text-align: center;
}
.img-center {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.arrow-icons {
  color: white;
  font-size: 50px;
}

.container-main-flashdeals {
  max-width: 90%;
  margin: auto;
}
